body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: verdana, serif;
}
.red{
    background-color: azure;
    margin: 0px;
    margin-bottom: 20px;
    position: relative;
    padding-top: 100px;
    padding-bottom: 20px;
    font-family: sacramento,cursive;
    
}
.intro{
    width: 30%;
    margin: auto;
}
.middle-container{
    margin: 100px 0;
}
h1{
    color: #66bfbf;
    margin-top: 50px auto 50px auto;
    font-family: 'montserret' sans-serif;
    font-size: 562.5%;
}
h2{
    color: #66bfbf;
    font-size: 2.5rem;
    font-weight: normal;
}
h3{
    color: #11999e;
}
p{
    line-height: 2;
}
hr{
    border: dotted #eaf6f6;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color: #11999e;
    margin: 10px 20px;
    font-family: Montserrat-Black;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.first-cloud{
    position: relative;
    left: 200px;
    top: 20px;
}
.second-cloud{
    position: absolute;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
        
}
.first-skill{
    text-align: left;
}

.computer{
    width: 25%;
    float: left;
    margin-right: 20px;
}
.data-analysis{
    width: 25%;
    float: right;
    margin-left: 20px;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
    font-family: 'montserret' sans-serif;
    padding: 20px 0;
}
.btn{
    background-color: #11cdd4;
    background-image: -webkit-linear-gradient(top, #111cdd4, #11999e );
    background-image: -moz-linear-gradient(top, #111cdd4, #11999e);
    background-image: -ms-linear-gradient (top, #111cdd4, #11999e);
    background-image: -o-linear-gradient (top, #111cdd4, #11999e);
    background-image: linear-gradient (to bottom, #111cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover {
    background-color: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad );
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient (top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient (top, #30e3cb, #2bc4ad);
    background-image: linear-gradient (to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}